@using System.Security.Claims
@model UsersViewModel

<div class="row mandatarow">
    <div class="col-md-1 mandatarow1">
        @*<img id="datapicture" />*@
        @foreach (var imgsrc in ViewBag.imgsrc)
        {
            <img src="~/upfiles/@imgsrc.img" id="datapicture" />
        }
        <p class="modify" onclick="Show();">修改头像</p>
        @*弹框S*@
        <div id="shade" class="c1 hide"></div>
        <div id="modal" class="c2 hide">
            <p>
                <span class="modalspan1">上传头像</span>
                <span class="modalspan2" onclick="Hide();">x</span>
            </p>
            <p style="clear:both; margin:0;"></p>
            @*上传图像S*@
            <table>
                <tr>
                    <td>
                        <form id="form1" name="form1" asp-action="ModifyImg" method="post" enctype="multipart/form-data" style="width:242px;">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ID" value="@User.FindFirstValue("ID")" />
                            <div class="input-group head-img">
                                @*<input asp-for="img" type="hidden" id="textfield" value="@User.FindFirstValue("img")" />*@
                                <div id="my-img">
                                    <img src="~/images/uploadhead.png" />
                                    <p>点击这里上传图像</p>
                                </div>
                                <input asp-for="img" type="hidden" id="textfield" value="@User.FindFirstValue("img")" />
                                <input name="img" type="file" id="imgupload" onchange="javascript:setImagePreview();" />
                            </div>
                        </form>
                    </td>
                    <td>
                        <div class="preview" id="localImag">
                            预览图像
                            <img id="previewimg" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="input-group groupbtn">
                            <div class="btndiv">
                                <button type="submit" class="btn btnsave" form="form1">上传并保存</button>
                                <button type="button" class="btn btncancel" onclick="Hide();">取&emsp;消</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            @*上传图像E*@
        </div>
        @*弹框E*@
    </div>
    <div class="col-md-11 mandatarow11" id="xiugaiziliao">
        <ul class="maninfo">
            @foreach (var imgsrc1 in ViewBag.imgsrc1)
            {
                <li><span>账&emsp;&emsp;号：</span>@imgsrc1.username<span class="xiugaiziliao" onclick="xgzl1()">修改资料</span></li>
                <li><span>性&emsp;&emsp;别：</span>@imgsrc1.sex</li>
                <li><span>邮&emsp;&emsp;箱：</span>@imgsrc1.email</li>
                <li><span>手机号码：</span>@imgsrc1.telephone</li>
                <li><span>工作地点：</span>@imgsrc1.workplace</li>
                <li><span>从事职业：</span>@imgsrc1.occupation</li>
                <li><span>现居住地：</span>@imgsrc1.address</li>
            }
        </ul>
    </div>
    <div class="col-md-11 mandatarow11" id="submitxgzl" style="display:none;">
        <form asp-controller="PersonCenter" asp-action="ModifyData" method="post" name="form2" id="form2" style="padding-left:20px; padding-top:8px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" value="@User.FindFirstValue("ID")" />
            <div class="form-group">
                <label asp-for="username" class="control-label">账&emsp;&emsp;号：</label>
                <input name="username" class="form-control" value="@User.Identity.Name" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sex" class="control-label">性&emsp;&emsp;别：</label>
                <input name="sex" id="sex" type="hidden" value="@User.FindFirstValue("sex")" />
                <select id="basicSelect" class="form-control" onchange="document.getElementById('sex').value = this.value;">
                    <option selected disabled value="" style="display:none;">请选择性别</option>
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
                <span id="xb">@User.FindFirstValue("sex")</span>
                <span asp-validation-for="sex" class="text-danger"></span>
            </div>
            <div class="form-group right">
                <label asp-for="email" class="control-label">邮&emsp;&emsp;箱：</label>
                <input name="email" class="form-control" value="@User.FindFirstValue("email")" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            <div style="clear:both;"></div>
            <div class="form-group">
                <label asp-for="telephone" class="control-label">手机号码：</label>
                <input name="telephone" class="form-control" value="@User.FindFirstValue("telephone")" />
                <span asp-validation-for="telephone" class="text-danger"></span>
            </div>
            <div class="form-group right">
                <label asp-for="workplace" class="control-label">工作地点：</label>
                <input name="workplace" class="form-control" value="@User.FindFirstValue("workplace")" />
                <span asp-validation-for="workplace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="occupation" class="control-label">从事职业：</label>
                <input name="occupation" class="form-control" value="@User.FindFirstValue("occupation")" />
                <span asp-validation-for="occupation" class="text-danger"></span>
            </div>
            <div class="form-group right">
                <label asp-for="address" class="control-label">现居住地：</label>
                <input name="address" class="form-control" value="@User.FindFirstValue("address")" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
        </form>
        <div class="form-group obtn" style="margin:0 auto;text-align:center;">
            <button type="submit" class="btn btnsave" form="form2">确&emsp;定</button>
            <button class="btn btncancel" onclick="xgzl2()">取&emsp;消</button>
        </div>
    </div>
</div>