@{
    Layout = "_BackLayout";
    ViewData["Title"] = "编辑洪水灾害年度数据";
}

<script src="~/lib/ueditor-1.4.3.3/ueditor.parse.js"></script>

<style>
    .content_nav {
        font-size: 16px;
        font-weight: 500;
        margin-top: 10px;
    }

    .form-control {
        display: inline-block;
        width: auto;
    }

    .diflex {
        display: flex;
        justify-content: space-between;
    }

    label {
        width: 140px;
        text-align: center;
    }
</style>
<p class="content_nav">
    @ViewData["Title"]
    <input type="submit" value="保 存" class="btn btn-warning" form="form1" />
    <a asp-controller="DisasterData" asp-action="Index" style="float:right;padding-top:5px;">返回灾害数据管理列表</a>
</p>
<hr style="margin-top:12px;" />
<div class="row">
    <div class="col-md-12" style="margin:0 auto; text-align:center;">
        <form asp-controller="DisasterData" asp-action="YearEditFlood" name="form1" id="form1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @foreach (var floodyear in ViewBag.floodyear)
            {
                <input name="ID" type="hidden" value="@floodyear.ID" />
                <div class="form-group">
                    <label>年&emsp;&emsp;份</label>
                    <input name="fYears" value="@floodyear.fYears" class="form-control" />
                </div>
                <div class="form-group right">
                    <label>农业受灾面积(千公顷)</label>
                    <input name="fAgrishouzArea" value="@floodyear.fAgrishouzArea" class="form-control" />
                </div>
                <div class="form-group">
                    <label>农业成灾面积(千公顷)</label>
                    <input name="fAgrichengzArea" value="@floodyear.fAgrichengzArea" class="form-control" />
                </div>
                <div class="form-group right">
                    <label>水灾受灾面积(千公顷)</label>
                    <input name="fWatershouzArea" value="@floodyear.fWatershouzArea" class="form-control" />
                </div>
                <div class="form-group">
                    <label>水灾成灾面积(千公顷)</label>
                    <input name="fWaterchengzArea" value="@floodyear.fWaterchengzArea" class="form-control" />
                </div>
                <div class="form-group right">
                    <label>旱灾受灾面积(千公顷)</label>
                    <input name="fDroughtshouzArea" value="@floodyear.fDroughtshouzArea" class="form-control" />
                </div>
                <div class="form-group">
                    <label>旱灾成灾面积(千公顷)</label>
                    <input name="fDroughtchengzArea" value="@floodyear.fDroughtchengzArea" class="form-control" />
                </div>
                <div class="form-group">
                    <label>除涝面积(千公顷)</label>
                    <input name="fDrainageArea" value="@floodyear.fDrainageArea" class="form-control" />
                </div>
                <div class="form-group right">
                    <label>经济损失(亿元)</label>
                    <input name="fEconomicLosses" value="@floodyear.fEconomicLosses" class="form-control" />
                </div>
                <div class="form-group">
                    <span style="font-weight: 600;">备&emsp;&emsp;注</span>
                    <input name="fRemarks" type="hidden" class="form-control" id="content" />

                    <script id="editor" type="text/plain" style="width:100%;height:auto;">
                        @Html.Raw(System.Net.WebUtility.UrlDecode(@floodyear.fRemarks))
                    </script>
                    <script type="text/javascript">
                        $(function () {
                            UE.delEditor('editor');
                            var ue = UE.getEditor('editor', {
                                allowDivTransToP: false,//阻止div标签自动转换为p标签
                                autoHeightEnabled: true,
                                autoFloatEnabled: true
                            });
                            ue.ready(function () {
                                $(".edui-editor-messageholder.edui-default").css({ "visibility": "hidden" });
                            })
                        });
                        function cc() {
                            document.getElementById('content').value = UE.getEditor('editor').getContent();
                        }
                        setInterval(function () {
                            cc();
                        }, 100);
                    </script>
                </div>
            }

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}